body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

#root {
  margin-top: 35px;
  text-align: center;
}

#root .dice img {
  margin-left: 35px;
  border-radius: 10px;
  background-color: white;
  width: 120px;
}

.game-play {
  background-color: #EAF27A;
  padding: 10px 0 10px 10px;
  margin: 0 150px 0 150px;
  border-radius: 50px;
}

.top-scoreboard {
  border-radius: 20px;
  padding: 15px 0 15px 0;
  margin-left: 24px;
}

.top-scoreboard input {
  width: 65px;
  border-radius: 10px;
  background-color: silver;
  margin-right: 25px;
}

.top-scoreboard input:hover {
  background-color: gray;
}

.bottom-scoreboard {
  border-radius: 20px;
  margin: 0 40px 10px 0px;
  height: 100px;
}

.bottom-scoreboard div {
  display: inline-block;
}

.bottom-scoreboard button {
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 15px;
  height: 83px;
  width: 83px;
  font-size: 8px;
  font-weight: bolder;
  background-color: silver;
  color: black;
  font-family: 'Press Start 2P', cursive;
}
.bottom-scoreboard button:hover {
  background-color: gray;
}

.yahtzee {
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  padding: 20px 60px 30px 10px;
  margin-left: 20px;
  height: 40px;
  width: 80px;
  font-size: 8px;
  font-weight: bolder;
  background-color: silver;
  font-family: 'Press Start 2P', cursive;
}

h4 {
  color: orange;
  display: inline-block;
  margin-right: 10px;
}
.header {
  font-size: 80px;
  background-color: red;
  margin: 0 100px 30px 100px;
  border-radius: 30px 30px 0 0;
  font-family: 'Righteous', cursive;
  color: white;
}

.dice {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.hold {
  padding: 10px;
  margin-top: 10%;
  border-radius: 100px;
  background-color: red;
  margin-left: 25%;
  font-size: 15px;
  font-family: 'Righteous', cursive;
}

.roll-value {
  display: inline-block;
  margin-left: 50px;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  font-size: 12px;
}

.roll-value-actual {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  font-size: 25px;
}

.roll-number-actual {
  margin-left: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.roll-number {
  margin-left: 270px;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.arrow {
  width: 20px;
}

button.enter {
  border: none;
  background-color: red;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 10px;
  font-family: 'Righteous', cursive;
}

 button.enter:hover {
  background-color: darkred;
}

.roll {
  border: none;
  background-color: red;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  margin: 20px 60px 20px 0px;
  font-family: 'Righteous', cursive;
}

.new-game {
  border: none;
  background-color: red;
  border-radius: 30px;
  padding: 6px 10px 6px 10px;
  margin: 20px 0px 20px 20px;
  font-family: 'Righteous', cursive;
  font-size: 12px;
}

.roll:hover, .new-game:hover {
  background-color: darkred;
}
